html{
    width: 100%;
    height: 100%;
    background-color:blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 100%;
}

#tache-ajoutee {
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tache-a-faire{
    width: 75%;
    height: 20%;
    border: 1px solid rgba(255, 102, 0, 0.368);
    background-color: rgba(255, 102, 0, 0.368);
}

#tache-a-faire ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.couleur-tache-liste{
    background-color: beige;
    border: 1px solid;
    padding: 2%;
    width: 80%;
    text-align: center;
    word-wrap: break-word;
}